@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf300.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf400.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf600.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf700.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf800.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "lf";
  src: url("fonts/ttf/lf900.ttf") format("truetype");
  font-weight: 900;
}

/* FontLoading */

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

#fontloader {
  position: fixed;
  top: 0;
  left: 120%;
  width: 0;
  height: 0;
  overflow: hidden;
}

html,
body,
* {
  box-sizing: border-box;
  font-family: "lf", sans-serif !important;
}

body {
}

.App {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  perspective: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  /*text-transform: uppercase;*/
}

.cover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#controlsLeft {
  width: 25%;
  height: 100vh;
  padding: 0 15px 15px 15px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

#controlsRight {
  width: 17.5%;
  z-index: 100;
  height: 100vh;

  padding: 15px;
}

#artboard {
  width: 75%;
  height: 100vh;
  display: flex;
  background: #eeeeee;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 550px;
  height: 550px;
  overflow: hidden;
  -webkit-transition: all 200ms ease; /* Firefox */
  -moz-transition: all 200ms ease; /* WebKit */
  -o-transition: all 200ms ease; /* Opera */
  transition: all 200ms ease; /* Standard */
}

h1 {
  margin: 0;
  line-height: 100%;
  font-size: 40px;
}

h4 {
  font-size: 14px;

  font-weight: 400;
  margin: 0 0 5px 0;
  color: black;
}

input {
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* remove default arrow */
}

input,
select,
textarea {
  font-size: 14px;
  width: 100%;
  background: transparent;
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 0px;
}

input,
select {
  height: 25px;
}

button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

input,
select,
textarea {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 30px;
}

.field h4 {
  margin: 0;
  width: 30%;
}

.field input.textInput {
  width: 70%;
}

.field select {
  width: 50%;
}

.field textarea {
  width: 60%;
  height: 60px;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
}

.coverImage {
  width: 550px;
  height: 550px;
}

.cover img {
  width: 100%;
}

.group {
  padding: 15px 0 15px 0;
  /*border: 1px solid black;*/
  /*height: 60px;
  overflow: hidden;*/
  border-bottom: 1px solid #aaaaaa;
}

.group:last-of-type {
  border: 0;
}

.group h3 {
  margin: 0;
  font-size: 18px;
  display: block;
  font-family: sans-serif;
}

#save {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
}

#save button {
  width: 100%;
  height: 30px;
}

#save button:active {
  background: black;
  color: white;
}

.coverImage {
  background-position: center center;
}

h3 {
  margin: 0;
}

#textContainer {
  display: flex;
  width: 550px;
  height: 550px;
  padding: 15px;
}

#textContainer div {
  width: 100%;
}

#imageBrowser {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}

#imageBrowser.active {
  display: block;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.svgWrapper {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example path {
}

.boxHead {
}

.boxBody {
  margin-bottom: 15px;
  margin-top: 15px;
}

svg {
}

.subline {
  padding: 15px;
  font-size: 12px;
}

.sublineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modal {
}

.ModalColors {
}

.ModalColorsWrapper {
  display: none;
  top: 0;

  left: 0;
  position: fixed;
  z-index: 1000;
}

.ModalColors {
  display: flex;
}

.ModalColors .color {
  font-weight: 600;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  cursor: pointer;
}

.colorField {
  width: 30px;
  height: 30px;
}

.colorName {
  text-align: center;

  font-weight: 600;
  padding: 10px;
}

.ModalColors div:hover div {
  color: white;
}

option {
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(240, 240, 240, 0.8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalBtnClose {
  position: absolute;
  padding: 15px;
  font-size: calc(16px + 3vw);
  top: 0;
  right: 0;
}

.ModalBtnClose button {
  color: #111111;
}

.ModalBtnTheme {
  position: absolute;
  padding: 15px;
  font-size: calc(16px + 3vw);
  top: 0;
  left: 0;
}

.ModalBtnTheme button {
  color: #111111;
}

/* The slider itself */
.inputRangeSlider {
  position: relative;
  top: -6px;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1px; /* Specified height */
  background: #aaaaaa; /* Grey background */
  outline: none; /* Remove outline */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.inputRangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #111111; /* Green background */
  border: 2px solid #111111;
  cursor: pointer; /* Cursor on hover */
  border-radius: 100%;
}

.inputRangeSlider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #f1f1f1; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 2px solid #111111;
  border-radius: 100%;
}

.sliderContainer {
  width: 60%;
}

textarea {
  resize: none;
}

.colorField {
}

.color {
  width: 20px;
  height: 20px;
  margin: 0;
}

.boxBodyColors {
  display: flex;
  flex-wrap: wrap;
}

.boxBodyColors div {
  cursor: pointer;
}

.artist {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.boxHead {
  cursor: pointer;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: transparent;
}

::selection {
  color: black;
  background: transparent;
}

.lighten {
  color: #aaaaaa;
}

.lighten:hover {
  opacity: 1;
}

.record {
  top: 0;
  left: 0;
  position: relative;
  width: 600px;
  height: 600px;
}

.cover {
  top: 0;
  left: 0;
  position: absolute;
  width: 600px;
  height: 600px;
  -webkit-transition: all 500ms ease; /* Firefox */
  -moz-transition: all 500ms ease; /* WebKit */
  -o-transition: all 500ms ease; /* Opera */
  transition: all 500ms ease; /* Standard */
}

.vinyl {
  top: 0;
  left: 0;
  position: absolute;
  width: 600px;
  height: 600px;
  background: #111111;
  border-radius: 100%;
  -webkit-transition: all 500ms ease; /* Firefox */
  -moz-transition: all 500ms ease; /* WebKit */
  -o-transition: all 500ms ease; /* Opera */
  transition: all 500ms ease; /* Standard */
}

.recordWrapper {
  -webkit-transition: all 500ms ease; /* Firefox */
  -moz-transition: all 500ms ease; /* WebKit */
  -o-transition: all 500ms ease; /* Opera */
  transition: all 500ms ease; /* Standard */
}

#artboard:hover .recordWrapper {
  transform: rotateY(-15deg);
  -webkit-transform: rotateY(-15deg);
  -moz-transform: rotateY(-15deg);
}

#artboard:hover .record .vinyl {
  left: 50px;
}

#artboard:hover .record .cover {
  left: -50px;
}

#buttonWrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.btn {
  position: absolute;
  bottom: 15px;

  padding: 10px 15px;
  background: white;
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  margin-top: 15px;
}

.btn:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

.stepper {
  display: flex;
}

.stepperBox {
  
  height: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
    display: flex;
justify-content: center;
align-items: center;
background: #eeeeee;
}

.stepperBox.left {
  width: 20px;
}

.stepperBox.left:active {
  background: black;
  color: white;
}

.stepperBox.center {
  width: 30px;
}

.stepperBox.right {
  width: 20px;
}

.stepperBox.right:active {
  background: black;
  color: white;  
}
