html,body,* {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {

}

.App {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
    perspective: 100vw;
}




.cover.parent {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.8);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}




#controlsLeft {
  position:fixed;
  left:0;
  top:0;
  width: 300px;
  height: 100vh;
  padding: 15px;
  z-index: 100;

}


#controlsRight {

  width: 300px;
  z-index: 100;
  position:fixed;
  right:0;
  top:0;
  height: 100vh;

  padding: 15px;

}

#canvas {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {

  width: 550px;
  height: 550px;
  overflow: hidden;
  -webkit-transition: all 200ms ease; /* Firefox */
-moz-transition: all 200ms ease; /* WebKit */
-o-transition: all 200ms ease; /* Opera */
transition: all 200ms ease; /* Standard */

}



h1 {
  margin: 0;
  line-height: 100%;
  font-size: 40px;
}

h4 {
  font-size: 14px;

  font-weight: bold;
  margin: 0 0 5px 0;
  color: black;
}

input {

}

select {
-webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */

}

input,select, textarea {

  font-size: 14px;
  width: 100%;
  background: transparent;
  font-family: sans-serif;
  font-weight: normal;
  border-radius: 0px;
}

input,select {
  height: 25px;
}




button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

input,select,textarea {
  background: transparent;
  -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

button:focus, 
input:focus, 
select:focus,
textarea:focus {
  outline:0;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 30px;
}

.field h4 {
  margin: 0;
  width: 40%;
}

.field input.textInput {
  width: 60%;
}

.field select {
  width: 50%;
}

.field textarea {
 width: 60%;
 height: 60px; 
}



.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
}

.coverImage {
    width: 550px;
  height: 550px;
}

.cover img {
  width: 100%;
}

.group {
  padding: 0px 0 10px 0;
  /*border: 1px solid black;*/

  /*height: 60px;
  overflow: hidden;*/
}

.group h3 {
  font-size: 18px;
  display: block;
  font-family: sans-serif;

}

#save {
  position: absolute;
  bottom: 0;
  left:0;
  padding: 15px;
  width: 100%;
}

#save button {
  width: 100%;
  height: 30px;
}

#save button:active {
  background: black;
  color: white;
}

.coverImage {
  background-position: center center;
}

h3 {
  margin: 0;
}

#textContainer {
  display: flex;
    width: 550px;
  height: 550px;
  padding: 15px;
}

#textContainer div {
width: 100%;
}

#imageBrowser {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}

#imageBrowser.active {
  display: block;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.svgWrapper {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example path {

}

.boxHead {
  margin-bottom: 15px;
}

.boxBody {
  margin-bottom: 15px;
}

svg {

}

.subline {
  padding: 15px; 
  font-size: 12px;
}

.sublineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modal {

}

.ModalColors {


}

.ModalColorsWrapper {
  display: none;
    top: 0;

  left: 0;
  position: fixed; 
     z-index: 1000;

}

.ModalColors {

  display: flex;

}

.ModalColors .color {
  font-weight: 600;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  cursor: pointer;
}


.colorField {
  width: 40px;
  height: 40px;
}


.colorName {
  text-align: center;

  font-weight: 600;
  padding: 10px;
}

.ModalColors div:hover div {
  color: white;
}

option {
  background: red;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(240,240,240,0.8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalBtnClose {
  position: absolute;
  padding: 15px;
  font-size: calc(16px + 3vw);
  top: 0;
  right: 0;
}

.ModalBtnClose button {
  color: #111111;  
}


.ModalBtnTheme {
  position: absolute;
  padding: 15px;
  font-size: calc(16px + 3vw);
  top: 0;
  left: 0;
}

.ModalBtnTheme button {
  color: #111111;  
}



/* The slider itself */
.inputRangeSlider {

position: relative;
  top: -6px;  
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1px; /* Specified height */
    background: #aaaaaa; /* Grey background */
    outline: none; /* Remove outline */


}




/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.inputRangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #111111; /* Green background */
    border: 2px solid #111111;
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
}

.inputRangeSlider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #f1f1f1; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 2px solid #111111;
    border-radius: 100%;
}


.sliderContainer {


  width: 60%;
}

textarea {
  resize: none;
}

.colorField {
  
}

.color {
  width: 30px; 
  height: 30px;
  margin: 0 5px 5px 0;
}

.boxBodyColors {
  display: flex;
  flex-wrap: wrap;
}

.boxBodyColors div {
  
  cursor: pointer;
}

.artist {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.boxHead {
  cursor: pointer;
}


::-moz-selection { /* Code for Firefox */
    color: black;
    background: transparent;
}

::selection {
    color: black; 
    background: transparent;
}

.lighten {
  opacity: 0.4;
}