html,body,* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: flex-start;
  background: white;
}

.cover.parent { 
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#controlsLeft {
  position:fixed;
  left:0;
  top:0;
  width: 25%;
  max-width: 250px;
  min-width: 150px;
  height: 100vh;

  padding: 15px;
  z-index: 100;

}


#controlsRight {
  width: 25%;
  max-width: 250px;
  min-width: 150px;
  z-index: 100;
  position:fixed;
  right:0;
  top:0;
  height: 100vh;

  padding: 15px;

}

#canvas {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 550px;
  height: 550px;
  overflow: hidden;
  -webkit-transition: all 200ms ease; /* Firefox */
-moz-transition: all 200ms ease; /* WebKit */
-o-transition: all 200ms ease; /* Opera */
transition: all 200ms ease; /* Standard */
}


h1 {
  margin: 0;
  line-height: 100%;
  font-size: 40px;
}

h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 5px 0;
  color: black;
}

input {
  padding-left: 8px;
}

input,select {

  font-size: 14px;
  width: 100%;
  background: transparent;
  height: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border-radius: 0px;

}

button {
  -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: 0;
  background: white;
  cursor: pointer;
}

input,select {
  -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid lightgrey;
}

button:focus, 
input:focus, 
select:focus {
  outline:0;
}

.field {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.field h4 {
  width: 40%;
}

.field input, 
.field select {
  width: 60%;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
}

.coverImage {
    width: 550px;
  height: 550px;
}

.cover img {
  width: 100%;
}

.group {
  padding: 15px 10px 10px 10px;
  margin-bottom: 15px;
  /*border: 1px solid black;*/
  background: white;
  /*height: 60px;
  overflow: hidden;*/
}

.group h3 {
  font-size: 18px;
  display: block;

  margin-bottom: 15px;
}

#save {
  position: absolute;
  bottom: 0;
  left:0;
  padding: 15px;
  width: 100%;
}

#save button {
  width: 100%;
  height: 30px;
}

#save button:active {
  background: black;
  color: white;
}

.coverImage {
  background-position: center center;
}

h3 {
  margin: 0;
}

#textContainer {
  display: flex;
    width: 550px;
  height: 550px;
  padding: 15px;
}

#textContainer div {
width: 100%;
}

#imageBrowser {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}

#imageBrowser.active {
  display: block;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.svgWrapper {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example path {

}

.boxHead {

}

.boxBody {


}

svg {

}

.subline {
  padding: 15px; 
  font-size: 12px;
}

.sublineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

<<<<<<< HEAD
.ModalColors {
  position: fixed;
  display: none;
  top: 0;
=======
.ModalColorsWrapper {
  display: none;
    top: 0;
>>>>>>> be5d9f96fa3eddba1b15519d38290e05f28b851f
  left: 0;
  position: fixed; 
     z-index: 1000;
       width: 100%;
  height: 100vh;
}

.ModalColors {

  display: flex;

  width: 100%;
  height: 100vh;


<<<<<<< HEAD
=======
}
  
>>>>>>> be5d9f96fa3eddba1b15519d38290e05f28b851f
.ModalColors div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  cursor: pointer;
}

.ModalColors div:hover div {
  color: white;
}